@inherits LayoutComponentBase
@inject NavigationManager Nav
@inject IJSRuntime JS

<div class="flex w-full h-screen overflow-hidden">
    <div class="w-2/12 bg-gray-100 border-r-1 border-gray-200 h-full overflow-y-auto">
        <NavMenu />
    </div>

    <main class="w-10/12  h-full overflow-y-auto">
        <article class="flex-column w-full px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Notifica al Shell la ruta actual al cargar
            await NotifyParent(Nav.ToBaseRelativePath(Nav.Uri));

            // Escucha cambios de ruta dentro del MFE
            Nav.LocationChanged += OnLocationChanged;
        }
    }

    private async void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        var relativePath = Nav.ToBaseRelativePath(e.Location);
        await NotifyParent(relativePath);
    }

    private async Task NotifyParent(string path)
    {
        try
        {
            await JS.InvokeVoidAsync("notifyShellNavigation", path);
        }
        catch { /* ignorar si no está en iframe */ }
    }

    public void Dispose()
    {
        Nav.LocationChanged -= OnLocationChanged;
    }
}