<div class="p-2 border-b-2 border-gray-200 mx-2">
    <div class="flex">
        <a class="text-green-600 font-bold text-lg" href="">Siniestros</a>
    </div>
</div>

<div class="mt-2">
    <div class="ps-4 mb-2">
        <span class="text-xs text-gray-400">Menú</span>
    </div>
    <nav class="flex flex-col gap-1">
        <div class="px-3 flex">
            <NavLink class="text-black text-sm p-2 rounded-md hover:bg-gray-200 flex w-full"
                     href=""
                     ActiveClass="bg-gray-200 text-black rounded-md"
                     Match="NavLinkMatch.All">
                Siniestros
            </NavLink>
        </div>

        <div class="px-3 flex">
            <NavLink class="text-black text-sm p-2 rounded-md hover:bg-gray-200 flex w-full"
                     href="reports"
                     ActiveClass="bg-gray-200 text-black rounded-md">
                Reportes
            </NavLink>
        </div>

        <div class="px-3 flex">
            <NavLink class="text-black text-sm p-2 rounded-md hover:bg-gray-200 flex w-full"
                     href="cancelled"
                     ActiveClass="bg-gray-200 text-black rounded-md">
                Cancelaciones
            </NavLink>
        </div>
    </nav>
</div>