@page "/cancelled"
@inject IHttpContextAccessor HttpContext

<PageTitle>Cancelaciones</PageTitle>

<h1 class="text-3xl text-green-600 font-bold">HDI</h1>
<p class="text-gray-400 text-lg">Cancelaciones</p>

@code {

}
