@page "/reports"
@inject IHttpContextAccessor HttpContext

<PageTitle>Reportes</PageTitle>

<h1 class="text-3xl text-green-600 font-bold">HDI</h1>
<p class="text-gray-400 text-lg">Reports</p>


@code {

}
